h1 {
    font-family: sans-serif;
  }

  p {
    font-weight: 600
  }

  body {
    font-size: 16px;
  }

  p{
    font-size: 3em;
  }

  #amarelo{
    background-color: yellow;
  }

  #vermelho{
    background-color: red;
  }

  #marrom{
    background-color: brown ;
  }

  h1,p,ul{
    text-align: center;
  }